<div class="col-md-12 list-group-item list-item">
    <div class="col-sm-8">
        <h3>{{purchasedItem.name}} ({{purchasedItem.quantity}}{{purchasedItem.quantityUnit}}) 
        = {{purchasedItem.quantity * purchasedItem.price}} Rs</h3>
        <h5>Category : {{purchasedItem.category }} </h5>
        <h6>Purchased On {{purchasedItem.purchaseDate | date: 'fullDate'}}</h6>
    </div>
    <div class="col-sm-4">
        <span class="pull-right">
            <button class="btn btn-success" style="margin-right: 5px;" (click)="MovedToPurchasingList()">Move Right</button>
            <button class="btn btn-danger" (click)="removeItem()"> X </button>
        </span>
    </div>
</div>

